<div class="my-4">
  <div class="d-flex flex-wrap">
    <button class="btn btn-primary" style="margin-right: 10px;">Total Feedback Recieved ({{this.feedBackFormData?.length}})</button>
    <button class="btn btn-primary">Resolved</button>
  </div>

  <div class="my-4">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Sr.No</th>
            <th scope="col">Username</th>
            <th scope="col">Fullname</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of feedBackFormData;let i= index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.username}}</td>
            <td>{{item?.fullname || '-'}}</td>
            <td>{{item.status}}</td>
            <td>{{item.priority}}</td>
            <td (click)="action('view',item)">{{item.action || "View"}}</td>
          </tr>

        </tbody>
      </table>
  </div>

</div>
