<div class="add-user-form">
    <div class="title">{{ isEditMode ? 'Edit User' : 'Add User' }}</div>
    <form [formGroup]="form">
        <div class="each-field">
           <div class="field">
            <label for="fullname" class="label-cls">Full Name:</label>
            <input id="fullname" formControlName="fullname" type="text" />
           </div> 
        </div>
      
        <div class="each-field">
            <div class="field">
                <label for="username" class="label-cls">Username:</label>
                <input id="username" formControlName="username" type="email" />
            </div>
        </div>
      
        <div class="each-field">
            <div class="field">
                <label for="password" class="label-cls">Password:</label>
                <input id="password" formControlName="password" type="password" />
            </div>
        </div>

        <div class="each-field">
            <div class="field">
                <label class="label-cls">Role:</label>
                <!-- <label>
                  <input type="radio" formControlName="role" value="ROLE_USER" /> User
                </label> -->
                <label>
                  <input type="radio" formControlName="role" value="ROLE_ADMIN" /> Admin
                </label>

                <label>
                    <input type="radio" formControlName="role" value="ROLE_SUPPORT" /> Support
                  </label>
            </div>
        </div>
      
        <div class="action-btns">
            <button type="button" class="close" (click)="onClose()">Close</button>
            <button type="button" class="submit" (click)="onSubmit()" *ngIf="!isEditMode">Add</button>
            <button type="button" class="submit" (click)="onEdit()" *ngIf="isEditMode">Update</button>
        </div>
      </form>
      
</div>